$one-color: #BF8A5C;
$twoHome2Color: #818181;
$threeHome2Color: #D8D8D8;
$fourColorHome2: #979797;
$fiveColorHome2: #1F191F;
$sixColorHome2: #FFC430;
$sevenColorAbout: #848484;
$eightColorAbout: #151616;

//Main colors


//FONTS FACE
@font-face {
  font-family: "DINPro-Bold";
  src: url("../fonts/DinPro/DINPro-Bold_1.otf") format("truetype");

}

@font-face {
  font-family: "DINPro_1";
  src: url("../fonts/DinPro/DINPro_1.otf") format("truetype");

}

@font-face {
  font-family: "DINPro_Cond";
  src: url("../fonts/DinPro/DINPro-Cond_1.otf") format("truetype");

}

@font-face {
  font-family: "DINPro_CondBold";
  src: url("../fonts/DinPro/DINPro-CondBold_1.otf") format("truetype");

}

@font-face {
  font-family: "History Pro 02";
  src: url("../fonts/HistoryPro/HistoryPro-Two.ttf") format("truetype");

}

@font-face {
  font-family: "DINPro-CondLight";
  src: url("../fonts/DinPro/DINPro-CondLight_1.otf") format("truetype");

}

h1, h2, h3, h4, h5, h6 {
  font-family: "DINPro-CondBold", sans-serif;
}

strong, b {
  font-family: "DINPro-Bold", sans-serif;
}

a {
  font-family: "DINPro-Bold", sans-serif;
}

//FONT - STYLES

.font-sm {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

.font-sm-2 {
  font-size: 14px;
  letter-spacing: 3px;
}

.font-sm-footer {
  font-weight: bolder;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 2px;

}

.letter-space-2 {
  letter-spacing: 2px;
}

.font-lg {
  font: {
    size: 33px;
    family: "History Pro 02", sans-serif;

  };
  line-height: 40px;
  letter-spacing: -1.75px;
  color: $one-color;
}

.border-bottom-link {
  letter-spacing: 4px;
  color: #848484;
  border: none !important;

  &:hover, &:active {
    color: $one-color;

    text-decoration: none;
    border-bottom: 1px solid $one-color !important;
  }

}

.font-lg-2 {
  font-size: 24px;

  font-family: "DINPro_Cond", sans-serif;

}

.fontCond {
  font-family: "DINPro_Cond", sans-serif;
  letter-spacing: normal;
  line-height: 18px;
  font-size: 21px;
}

//SECTION ASIDE- STYLES


section {
  width: 55%;

  .font-sm {

  }
}

aside {
  img {
    width: 100%;
    height: 100%;

  }

  width: 45%;
}

main {
  display: flex !important;
}


//INPUT STYLES
input::placeholder {

  font-size: 0.8rem !important;
  color: #b9b9b9 !important;
}

input[type = "text"], [type="tel"], [type="name"], [type="GPS"] {
  font-size: 14px;
}

input {
  padding: 30px 0 30px 25px !important;
  border-radius: 0;


  &:focus, &:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none !important;
    border: 1px solid $one-color !important;
  }

}


//GENERAL STYLES
.language {


  .text-language {
    font-family: "DINPro-Cond", sans-serif;
    font-size: 14px;

    &:hover, &:active {
      color: #1F191F !important;
    }

  }

  .dropdown-menu {
    min-width: auto !important;

    .dropdown-item.active, .dropdown-item:active {
      color: #fff;


      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }
}

body {
  a:hover {
    text-decoration: none;

  }

  font: {
    size: 14px;
    family: "DINPro_1", sans-serif;
    weight: normal;
  }
}

.bg-oneColor {
  color: $one-color;


  &:hover {

    color: #975002;
  }
}

.text-muted {
  color: #818181 !important;
}

.text-underline {
  &:hover {
    text-decoration: underline;
  }
}


.letter-space {
  letter-spacing: 4px;
}

.btn {
  &:focus, &:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus {
    border: none;

    box-shadow: none;
  }
}

//NAV STYLES
.activeLink {
  font-family: "DINPro-Bold", sans-serif;
  font-size: 13px;

  a {
    position: relative;
    color: $one-color !important;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: #BF8A5C;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

}


.navLink {
  a {
    font-family: "DINPro-Cond", sans-serif;
    letter-spacing: 3px !important;
    font-size: 13px !important;
    font-weight: normal;

    &:hover {
      color: #1F191F;
    }

    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: #1F191F;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover:before {

      visibility: visible;
      transform: scaleX(1);
    }

  }


}

.homeLink {
  a {
    &:before {
      visibility: visible !important;
      transform: scaleX(1) !important;
    }
  }
}


.navbar-toggler {
  border: 1px solid $one-color !important;
}

.language {
  a {
    color: #818181;
    text-decoration: none;
    text-align: end;

  }

}

@keyframes language {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

.History-Pro {
  font-family: "History Pro 02", sans-serif;
  font-size: 45px;
  line-height: 60px;
  color: $one-color;
}

//GENERAL  STYLES
.general {
  .btn-oneColor, {
    background: #BF8A5C;;
    border: none;

    &:hover {
      background-color: #CB873F;
      border: none;
    }

    &:focus, &:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus {
      border: none;
      background-color: #B76205;
      box-shadow: none;
    }
  }

  .confirmButton {
    width: 25px !important;
    height: 25px !important;
    border: 2px solid #1F191F;
    cursor: pointer;

    button {
      width: 16px !important;
      height: 14px !important;
    }
  }

  .activeButton {
    background-color: #1F191F !important;
  }

  .btn-footer {
    font-family: "DINPro_Cond", sans-serif;
    letter-spacing: normal;
    line-height: 18px;
    font-size: 21px;
    width: 90%;
    height: 100px;
    transition: all 0.5s linear;

    #textfooter {
      width: 0;
      height: 1px;
      background-color: white;
      transition: all 0.5s linear;
    }

    &:hover, &:active {
      #textfooter {
        width: 46px;
        height: 1px;
        background-color: white;
        animation: animationIndicator 0.5s linear;
      }

      @keyframes animationIndicator {
        0% {
          width: 0;
        }
        100% {
          width: 46px;
        }
      }

      &:hover {
        span {
          margin-left: 15px;
        }
      }

    }
  }

  //ID STYLES

  #GPS {
    padding: 30px 0 30px 35px !important;

    background: {
      image: url("../images/map-pin.png");
      repeat: no-repeat;
      size: 14px;
      position: 17px center;


    };

  }

  #block {
    font-size: 14px;
    background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);
  }

  .text-bold {
    font-family: "DINPro-Bold", sans-serif !important;


  }

  // DATA-TIME STYLES
  .time {
    transition: all 0.5s linear;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 35%;
    background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);
  }

  .timeBtn {
    background-color: #1F191F;

  }

  //Translate styles
  .translate {
    animation: translate 1s 1 ease-out 0.2s;
  }

  .translate-slow {
    animation: translate 1.5s ease-in-out 0.2s;
  }

  @keyframes translate {
    from {
      transform: translateY(200px);
    }
    to {
      transform: translateY(0);
    }

  }

  // CONTACT STYLES
  .seeMap {
    display: none;
  }

  #and {
    font-size: 14px;
  }

  #call {
    font-family: "DINPro-Bold", sans-serif;
  }
}

//ABOUT PAGE STYLES
.about {

  //Main part of About
  main {
    margin-top: 62px;
    display: flex;

    // Section part of Main in About
    section {
      width: 56%;

      .w-75 {
        margin-top: 19px;

        .nav-link:nth-child(1) {
          font-family: "DINPro-Bold", sans-serif;
          font-size: 13px;
          letter-spacing: 4px;
          color: $one-color;
          position: relative;

          &::before {
            position: absolute;
            bottom: -14px;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            background-color: #0b2e13;
          }
        }

        .nav-link2 {
          font-family: "DINPro-Bold", sans-serif;
          font-size: 13px;
          letter-spacing: 4px;
          color: black;
          padding: 0;
          margin: 0;
        }
      }

      //company.png of About page (left part)
      img {
        width: 100%;
        margin-top: 9px;
        height: 678px;
      }
    }

    //Aside part of Main in About (right part)
    aside {
      background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);
      height: auto;
      width: 44%;

      //Aside/TEXT large(1 element)
      #aboutSection {
        padding-right: 10px;

        h1 {
          font-size: 40px;
          line-height: 50px;
          color: $one-color;
          letter-spacing: -1.5px;
          font-family: "History Pro 02", sans-serif;
          animation: textAnime 2s 1 ease;
        }

        //Animation for bottom to top TEXT
        @keyframes textAnime {
          0% {
            transform: translateY(100%);
          }
          100% {
            transform: translateY(0);
          }
        }
      }

      //Aside/TEXT medium (2 element);
      #aboutAside {
        h5 {
          font-size: 19px;
          line-height: 30px;
          color: $eightColorAbout;
          font-family: "DINPro-CondBold", sans-serif;
          animation: textAnime 2s 1 ease;
          font-weight: 500;
          text-transform: none !important;
          margin-bottom: 0;
          letter-spacing: -1.5px;
        }

        p {
          font-size: 19px;
          line-height: 28px;
          text-transform: none !important;
          font-family: "DINPro-Cond", sans-serif;
          letter-spacing: -1.5px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.4);
        }
      }

      //Aside/TEXT medium (3-element);
      #aboutFooter {
        h5 {
          font-size: 19px;
          color: $eightColorAbout;
          font-family: "DINPro-CondBold", sans-serif;
          animation: textAnime 2s 1 ease;
          letter-spacing: -1.5px;
          text-transform: none !important;
        }

        p {
          font-size: 19px;
          line-height: 28px;
          text-transform: none !important;
          font-family: "DINPro-Cond", sans-serif;
          letter-spacing: -1.5px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

//HOME STYLES
.home, .kvartiri {
  .bg-gradient {
    background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);
  }

  //Always part
  * {
    text-decoration: none !important;
    text-transform: uppercase !important;
  }

  //Main part(section and aside)
  main {
    display: flex;
    //SECTION PART//HOME2 left part
    section {
      display: block;
      width: 53.5%;
      height: auto;

      .w-50 {
        h4 {
          font-size: 30px;
          font-family: "History Pro 02", sans-serif;
          opacity: 0.2;
          color: $fourColorHome2;
          letter-spacing: -1.5px;
        }
      }

      .w-50 {
        span {
          font-family: "History Pro 02", sans-serif;
          font-size: 20px;
          letter-spacing: -1px;
          color: $fourColorHome2;
        }

        .indicator {
          width: 185px;
          height: 2px;
          background-color: $threeHome2Color;
          position: relative;
          overflow: hidden;

          &::after {
            position: absolute;
            background-color: $twoHome2Color;
            content: '';
            width: 100%;
            height: 2px;
            animation: anime 5.8s 1 ease-in-out;
          }
        }

        @keyframes anime {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(0);
          }
        }
      }

      // ЖК Family Effect
      .textEffect {
        .w-50 {
          h1 {
            font-size: 35px;
            font-family: "History Pro 02", sans-serif;
            letter-spacing: -2.25px;
            color: $one-color;
            animation: textJMUzbek 2s 1 ease-out;
          }

          @keyframes textJMUzbek {
            0% {
              transform: translate(-100%);
              opacity: 0;
            }
            100% {
              transform: translate(0);
              opacity: 1;
            }
          }

          span {
            font-size: 45px;
            letter-spacing: -2.25px;
            color: $one-color;

            img {
              width: 12px;
              height: 24px;

              &:hover {
                transform: scale(1.2) translateY(-10%);
              }
            }
          }
        }
      }

      //SECTION/Home2Section;
      .home2Section {
        background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);

        h1 {
          font-size: 45px;
          line-height: 60px;
          color: $fiveColorHome2;
          font-family: "History Pro 02", sans-serif;
          animation: textAnime 1.5s 1 ease-in-out;
        }

        @keyframes textAnime {
          0% {
            transform: translateY(100%);
          }
          100% {
            transform: translateY(0);
          }
        }
        //Section//sectionCard;
        .sectionCard {
          .card {
            border-radius: 0;
            background: #FCF8F7;
            width: 27%;
            padding-top: 22px;
            height: 89px;
            margin: 0;

            h5 {
              line-height: 17px;
              font-family: "DINPro-CondLight", sans-serif;
              font-size: 20px;
              color: $fiveColorHome2;

              span {
                font-weight: 500;
                color: $one-color;
                margin-left: 5px;
                font-size: 20px;
                font-family: "DINPro-CondLight", sans-serif;
              }
            }
          }
        }
      }

      .btn-footer {
        .textFooter-black {
          width: 0;
          height: 1px !important;
          background-color: black;
          transition: all 0.5s linear;
        }

        &:hover {
          .textFooter-black {
            width: 46px;
            height: 1px !important;
            background-color: black;
            animation: animationIndicator 0.5s linear;
          }

          @keyframes animationIndicator {
            0% {
              width: 0;
            }
            100% {
              width: 46px;
            }
          }

          &:hover {
            span {
              margin-left: 15px;
            }
          }

        }
      }



    }
  }


}



.home {
  aside {
    margin-top: 10px;
    display: block;
    padding: 0;
    width: 46.5%;
    height: auto;
    background: {
      size: cover;
      image: url("../images/imag.png");
      repeat: no-repeat;
      position: center;
    }

    .position-relative {
      height: 100%;

      .card-img-overlay {
        height: 100%;
        background-color: rgba(171, 140, 116, 0.85);

        h5 {
          margin: 50% 0;
          color: white;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 6px;
          font-family: "DINPro-CondLight", sans-serif !important;
        }
      }
    }


  }
}

.kvartiri {

  aside {
    margin-top: 10px;
    display: block;
    padding: 0;
    width: 46.5%;
    height: auto;
    background: {
      size: cover;
      image: url("../images/video.png");
      repeat: no-repeat;
      position: center;
    }

    .position-relative {
      height: 100%;


      h5 {
        margin: 60% 0 0 0;
        color: white;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 6px;

        font-family: "DINPro-CondLight", sans-serif;
      }
    }
  }

}

@media (min-width: 769.1px) and (max-width: 992px) {
  //ABOUT PAGE STYLES

  .about {
    main {
      margin-top: 15px;

      section {
        width: 60%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      aside {
        width: 40%;

        #aboutSection {
          h1 {
            font-size: 35px;
          }
        }

        #aboutAside, #aboutFooter {
          p {
            font-size: 18px;
            line-height: 23px;
          }
        }
      }
    }
  }
  .activeLink {
    font-size: 12px;
  }
  .dropdown-menu {
    width: 50%;
  }


  //GENERAL  STYLES
  .general {


    input {

    }

    #and {

      font-size: 14px;
    }

    #call {
      font-family: "DINPro-Bold", sans-serif;

    }


    .font-lg {
      font-size: 28px !important;
    }

    main {
      display: flex !important;

      section {
        width: 53.5%;

        .font-sm {
        }
      }

      aside {
        img {
          width: 100%;
          height: 100%;
        }

        width: 46.5%;
      }
    }

    //MAIN STYLES
    main {
      .border-bottom-link {
        letter-spacing: 4px;
        color: #848484;
        border: none !important;

        &:hover, &:active {
          color: $one-color;

          text-decoration: none;
          border-bottom: 1px solid $one-color !important;
        }

      }

      //BUTTON STYLES

      #confirmButton {
        width: 22px !important;
        height: 22px !important;
        border: 1.5px solid #1F191F;
        cursor: pointer;

        button {
          width: 6px !important;
          height: 6px !important;

          &:focus, &:active {
            background-color: #1F191F;
          }
        }


      }


      .btn-footer {
        font-family: "DINPro_Cond", sans-serif;
        letter-spacing: 1.1px;
        line-height: 18px;
        font-size: 1rem;
        padding: 30px 60px 30px 60px;
      }

    }

    //ID STYLES
    #GPS {
      padding: 25px 0 25px 35px !important;;

      background: {
        image: url("../images/map-pin.png");
        repeat: no-repeat;
        size: 14px;
        position: 15px center;


      };

    }

    #block {
      font-size: 13px;

    }

    input::placeholder {

      font-size: 0.8rem !important;

    }

    //FONT SM LG STYLES
    .font-lg {
      font: {
        size: 25px;
        family: "History Pro 02", sans-serif;

      };
      line-height: 30px !important;
      letter-spacing: -1.5px;
      color: $one-color;
    }

    .font-lg-2 {
      font-size: 20px;
      font-family: "DINPro_Cond", sans-serif;

    }

    .font-sm {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.1px;
    }

    .font-sm-footer {
      font-weight: bolder;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 1.5px;

    }

    .time {
      transition: all 0.5s linear;
      position: fixed;
      top: 20%;
      left: 30%;
      width: 40%;


      background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);

      .fontCond {
        font-family: "DINPro_Cond", sans-serif;
        letter-spacing: 1.1px;
        line-height: 18px;
        font-size: 18px;

      }
    }


  }

  //HOME STYLES
  .home, .kvartiri {
    main {
      display: flex;

      section {
        display: block;
        height: auto;
        width: 100%;

        .hereIndicator {
          .w-50 {
            h4 {
              font-size: 19px
            }

            span {
              font-size: 17px
            }

            .indicator {
              width: 80%;
            }
          }
        }

        .textEffect {
          display: flex;
          align-items: center;

          .textEffect2 {
            font-size: 30px !important;
          }

          .w-50 {
            span {
              font-size: 25px;
              margin-left: 10px;

              img {
                margin-right: 10px;
                width: 15px;
                height: 20px;
              }
            }
          }
        }

        .home2Section {
          .text {
            h1 {
              font-size: 35px;
              line-height: 45px;
            }
          }

          .sectionCard {
            .card {
              padding-top: 20px;
              padding-bottom: 10px;
              height: auto;
              width: 32%;

              h5 {
                font-size: 18px;
                line-height: 10px;

                span {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      aside {
        width: 100%;
        object-fit: contain;
        height: auto;

        .position-relative {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 769px) {
  .dropdown-menu {
    width: 25%;
  }
  //GENERAL  STYLES
  .general {


    .font-lg {
      font-size: 22px !important;
    }

    main {
      display: block !important;

      section {
        width: 100%;

        .font-sm {
        }
      }

      aside {
        display: none;
      }
    }

    //MAIN STYLES

    .border-bottom-link {
      letter-spacing: 4px;
      color: #848484;
      border: none !important;

      &:hover, &:active {
        color: $one-color;

        text-decoration: none;
        border-bottom: 1px solid $one-color !important;
      }

    }

    //BUTTON STYLES

    .confirmButton {
      width: 20px !important;
      height: 20px !important;
      border: 2px solid #1F191F;
      cursor: pointer;


      button {
        width: 12px !important;
        height: 8px !important;

      }
    }

    .btn-footer {
      font-family: "DINPro_Cond", sans-serif;
      letter-spacing: 1.5px;
      line-height: 18px;
      font-size: 1rem;

      width: 100%;
      padding: 32px 65px 32px 65px;
    }


    //ID STYLES
    #GPS {
      padding: 25px 0 25px 40px !important;;

      background: {
        image: url("../images/map-pin.png");
        repeat: no-repeat;
        size: 14px;
        position: 17px center;


      };

    }

    #block {
      font-size: 10px;

    }

    input::placeholder {

      font-size: 0.7rem !important;

    }

    //FONT SM LG STYLES
    .font-lg {
      font: {
        size: 25px;
        family: "History Pro 02", sans-serif;

      };
      line-height: 30px !important;
      letter-spacing: -1.5px;
      color: $one-color;
    }

    .font-lg-2 {
      font-size: 20px;
      font-family: "DINPro_Cond", sans-serif;

    }

    .font-sm {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.1px;
    }

    .font-sm-2 {
      font-size: 13px;
      letter-spacing: 1.5px;
    }

    .font-sm-footer {
      font-weight: bolder;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 1.5px;

    }

    .time {
      transition: all 0.5s linear;
      position: fixed;

      top: 20%;
      left: 10%;
      width: 80%;


      background: linear-gradient(270deg, #F7F6F3 0%, #FFF8F9 100%);

      .fontCond {
        font-family: "DINPro_Cond", sans-serif;
        letter-spacing: 1.1px;
        line-height: 18px;
        font-size: 18px;
      }
    }

    // CONTACT STYLES
    .seeMap {
      display: block;
      font-size: 16px;

      img {
        width: 14px;
        height: 16px;
      }
    }
  }
  //ABOUT PAGE STYLES
  .about {

    main {
      display: block !important;
      margin-top: 10px;
      // SECTION
      section {
        width: 100%;

        .w-75 {
          width: 100% !important;
          display: flex;
          justify-content: space-between;
          padding: 0 25px;
        }

        //Section img (company.png)
        img {
          display: none;
          width: 100%;
          height: auto;
        }
      }

      //Aside part of Main in About page (for Mobile)
      aside {
        width: 100%;

        #aboutSection {
          padding: 10px 20px;

          h1 {
            font-size: 30px;
          }
        }

        #aboutAside {
          padding: 10px 20px;

          p {
            font-size: 16px;
            font-weight: normal;
            line-height: 19px;
          }
        }

        #aboutFooter {
          padding: 10px 20px;

          p {
            line-height: 19px;
            font-size: 16px;
          }
        }
      }
    }
  }
  //HOME STYLES
  .home, .kvartiri {
    h1, h2, h3, h4, h5, h6, p, a, span {
      text-transform: uppercase !important;
      text-decoration: none !important;
    }

    main {
      display: block;
      height: 100%;

      section {
        display: block;
        height: auto;
        width: 100%;

        .hereIndicator {
          .w-50 {
            h4 {
              font-size: 18px
            }

            span {
              font-size: 16px
            }

            .indicator {
              width: 120px
            }
          }
        }

        .textEffect {
          display: flex;
          align-items: center;

          .textEffect2 {
            font-size: 25px !important;
          }

          .w-50 {
            span {
              font-size: 20px;
              margin-left: 10px;

              img {
                margin-right: 10px;
                width: 13px;
                height: 18px;
              }
            }
          }
        }


        .home2Section {
          .text {
            h1 {
              margin-bottom: 20px;
              margin-top: 20px;
              font-size: 30px;
              line-height: 40px;
            }
          }

          .sectionCard {
            .card {
              padding-top: 20px;
              padding-bottom: 10px;
              height: auto;
              width: 32%;

              h5 {
                font-size: 17px;
                line-height: 10px;

                span {
                  font-size: 17px;
                }
              }
            }
          }
        }
        .btn-footer {
          .textFooter-black {
            width: 0;
            height: 1px !important;
            background-color: black;
            transition: all 0.5s linear;
          }

          &:hover {
            .textFooter-black {
              width: 46px;
              height: 1px !important;
              background-color: black;
              animation: animationIndicator 0.5s linear;
            }

            @keyframes animationIndicator {
              0% {
                width: 0;
              }
              100% {
                width: 46px;
              }
            }

            &:hover {
              span {
                margin-left: 15px;
              }
            }

          }
        }

      }

      aside {
        margin: 0;
        padding: 0;
        display: none;
      }
    }
  }

}








